// Mixins

@mixin round-border {
  -webkit-border-radius: $radio;
  border-radius: $radio;
}

@mixin extreme-border($big-radio: 0.3em) {
  -webkit-border-radius: $big-radio;
  border-radius: $big-radio;
}