// Featured
.featured {
    background: url(../imagens/featured.jpg) center bottom repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    color: white;
    height: 330px;
    padding-top: 10em;
  }
  
  .featured p {
    width: 30em;
  }
  
  .featured p:first-child {
    width: 30em;
    font-size: 1.3em;
    line-height: 1.1;
  }
  
  .featured p:first-child:first-line {
    font-size: 2.2em;
    font-weight: bold;
  }
  
  .featured button {
    margin-top: 1em;
    background: $pattern-color;
    border: 0;
    padding: 0.6em;
    font-size: 1.2em;
    @include round-border;
    @extend %pattern-shadow;
    font-weight: bold;
  }
  